<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Countdown options</h5>
        <div class="gf-form">
            <label class="gf-form-label width-12">Launch timestamp</label>
            <input type="number" min="1" ste="1" class="gf-form-input max-width-16" ng-model="ctrl.panel.launchTimestamp"
                   ng-change="ctrl.render()" ng-model-onblur>
			</span>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Block Length</label>
            <input type="int" min="1" ste="1" class="gf-form-input max-width-16" ng-model="ctrl.panel.blockLength"
                   ng-change="ctrl.render()" ng-model-onblur>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Font Size</label>
            <input type="text" class="input-small gf-form-input max-width-16"
                   ng-model="ctrl.panel.fontSize" ng-change="ctrl.render()" ng-model-onblur/>
        </div>
        <gf-form-switch class="gf-form" label="Show Labels" label-class="width-12" checked="ctrl.panel.showLabels" on-change="ctrl.render()"></gf-form-switch>
    </div>
</div>
